<h1>Editing configuracao</h1>

<%= render "form", configuracao: @configuracao %>

<br>

<div>
  <%= link_to "Show this configuracao", @configuracao %> |
  <%= link_to "Back to configuracaos", configuracaos_path %>
</div>
